.form-wrapper {
    background: #ffffff;
    margin: 3em auto;
    padding: 2em 2em;
    max-width: 370px;
    border-radius: 5%;
}

.form-wrapper h2, div{
    text-align: center;
    margin: 0 0 1.5em 0;
}

.form-wrapper input {
    height: 50px;
    width : 100%;
}

.form-input input{
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #e9e9e9;
}

.form-button input{
    color: #ffffff;
    background-color: #005e7a;
    border: none;
    margin-top: 1.8em;
    transition: 0.2s;
}
